<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp - a chat room</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <h2>ChatApp</h2>
    </nav>

    <hr>

    <div class="container">
        <ul id="messages"></ul>
    </div>

    <form id="form">
        <input type="text" name="input" id="input" autocomplete="off">
        <button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>

</body>

</html>